* {
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    height: 100%;
    width: 100%;
    background: rgb(255, 199, 219) url(heart.gif);
}
body:active {
    transition: .3s;
    background: rgb(2, 8, 68) url(fallinstars.gif);
}
body:active > h2{
    display: none;
}
header#title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    height: auto;
}
img {
    height: 60px;
    width: 120px;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Silkscreen', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-shadow: 0px 2px 10px rgba(134, 0, 56, 0.496);
    color: rgb(206, 26, 77);
    max-height: 100px;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 0px 2px 10px rgba(37, 0, 41, 0.541);
    color: rgb(255, 255, 255);
    padding: 18px;
    animation: pulse 1s infinite;
}
@keyframes pulse{
        0%, 100% {transform: scale(1);}
        50% {transform: scale(1.06);}
}
@media (max-width: 600px){
    h1 {font-size: 45px}
    h2 {font-size: 20px;}
    img {height: 45px; width: 90px;;}
}
main {
    display: flex;
    flex-direction: row;
    height: auto;
}
div {
    height: 10px;
    width: 10px;
}
#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 0px;
    filter: drop-shadow(0 0 15px rgba(93, 35, 109, 0.67));
}
#main:active {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: bounce .5s infinite;
}
@keyframes bounce {
    0%
        {transform: translate(-50%, -50%) translateY(0);}
    50%
        {transform: translate(-50%, -50%) translateY(-25px); scale: 1.01;}
    100% 
        {transform: translate(-50%, -50%) translateY(0);}
}
.um {
    background-color: black;
}
.red {
    background-color: red;
}
.areia {
    background-color: rgb(227, 168, 91);
}
.pink {
    background-color: rgb(230, 111, 131);
}
.pink2 {
    background-color: rgb(177, 22, 76);
}
.orange {
    background-color: rgb(255, 109, 25);
}
.gray {
    background-color: gray;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: rgb(13, 147, 13);
}
.blue {
    background-color: rgb(0, 127, 218);
}
.blush {
    background-color: rgb(251, 119, 99);
}
.purple {
    background-color: purple;
}
.white {
    background-color: white;
}
